@charset "UTF-8";

@font-face {
    font-family: 'androide', format(Opentype);
    src:url(fontes//idroid.otf);
}

*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}

body {
    background-color: #E8E5C2;
    margin: 0px;
}

span {
    color: #021a0f;
}

header > h1 {
    margin: 0px;
    text-align: center;
    font-family: 'androide', Helvetica, sans-serif;
    color: white;
}

header > p {
    text-align: center;
    font-size: 1.3em;
}

nav > a {
    text-decoration: none;
    margin: 12px;
    color: white;
    font-size: 1.1em;
}

a:hover {
    background-color: #A2E9C1;
}

header {
    background-color: #2BA15C;
    color: white;
    border-radius: 2px;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.479);
    background-image: linear-gradient(to b, #2BA15C, #599170);
    margin: 1px;
}

h1 {
    margin: 0px;
    font-family: 'androide', Helvetica, sans-serif;
    color: #0C3A25;
}

article > h3 {
    background-color: #3b9761b2;
    color: white;
    padding: 8px;
}

p {
    text-indent: 25px;
}

.linha {
    background-color: #A2E9C1;
    background-image: linear-gradient(to right, #A2E9C1, #ECFCF3);
}

.imagens-centralizadas {
    text-align: center;
}

#principal {
    font-size: 2em;
    color: #0C3A25;
}

main > div {
    background-color: #15512E;
    margin: -9px;
    border-radius: 1px;
}

.caixa-de-artigo {
    background-color: #A2E9C1;
    border-radius: 10px;
    margin: 24px;
    padding: 10px;
    
}

main {
    background-color: white;
    padding: 8px;
    height: 2400px;
    width: 1500px;
    margin: auto;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.479);

}

section {
    margin: 0px;
}

footer {
    background-color: #2BA15C;
    color:white;
    text-align: center;
    margin-top: 100px;
    padding: 8px;
    width: 1500px;
    border-radius: 2px;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.479);
}
