* {
    margin: 0px;
    padding: 0px;
}


body {
    background-image: url("https://codetheweb.blog/assets/img/posts/css-advanced-background-images/cover.jpg");
    background-size: cover;
    background-attachment: fixed;
}

main > section {
    border: 5px solid blue;
    background-color: #e5e5e5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.box {
    width: 100%;
    border: 3px solid red;
}

.box1 {
    background-color: #169436;
    border: 2px solid #1c1a1d;
    height: 72px;
    width: 120px;
    margin: auto;
    
}

.box2 {
    background-color: #904555;
    /* border: 2px solid #1c1a1d; */
    height: 72px;
    width: 120px;
}
.box3 {
    background-color: #161299;
    /* border: 2px solid #1c1a1d; */
    height: 72px;
    width: 120px;
}

