header {
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase
}

h1 {
    font-family: monospace;
}

h2 {
    font-size: 1em;
    letter-spacing: 8px;
    text-transform: uppercase;
}

p {
    font-family: 'Montserrat', sans-serif;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}
